In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("jobs-webdeveloper.csv")
df.head()

,title,company,location,published,applicants,url,description
0,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...
1,Remote Junior Web Developer,Scopic,Buenos Aires y alrededores,Hace 6 días,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/remote-junio...,Are you on the hunt for exciting new challenge...
2,Developer Frontend,IOL Inversiones,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 mes,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/developer-fr...,¡IOLer se busca! En IOL invertironline queremo...
3,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...
4,Developer Frontend,IOL Inversiones,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 mes,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/developer-fr...,¡IOLer se busca! En IOL invertironline queremo...

In [5]:

# desc = df['description']
# desc[0]
df = df[~df['published'].str.contains('meses', case=False, na=False)]
# df = df[df['published'].str.contains('meses', na=False)]
df.head(2)

,title,company,location,published,applicants,url,description
0,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...
1,Remote Junior Web Developer,Scopic,Buenos Aires y alrededores,Hace 6 días,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/remote-junio...,Are you on the hunt for exciting new challenge...

In [6]:
# df = df[df['published'].str.contains('meses', na=False)]
# df.head(2)
df.iloc[18]['url']
df.head(2)

,title,company,location,published,applicants,url,description
0,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...
1,Remote Junior Web Developer,Scopic,Buenos Aires y alrededores,Hace 6 días,Más de 200 solicitudes,https://ar.linkedin.com/jobs/view/remote-junio...,Are you on the hunt for exciting new challenge...

In [7]:
import re

In [8]:
# Función para convertir a días
# Función para convertir a días
def convertir_a_dias(texto):
    if not isinstance(texto, str):
        return 0
    
    texto = texto.lower()  # Convertir a minúsculas para manejar mayúsculas y minúsculas
    
    # Extraer el número usando una expresión regular
    numero = int(re.search(r'\d+', texto).group())
    
    # Determinar la unidad de tiempo
    if "día" in texto or "dia" in texto or "day" in texto:
        return numero
    elif "semana" in texto or "semanas" in texto or "week" in texto:
        return numero * 7
    elif "mes" in texto or "month" in texto:
        return numero * 30
    else:
        return 0  # Si no se reconoce el formato

# Aplicar la función a la columna "published"
# df["dias"] = df["published"].apply(convertir_a_dias)

# print(df)

In [9]:
# df = pd.read_csv("jobs-webdeveloper.csv")
df.head(1)

,title,company,location,published,applicants,url,description
0,Front-end Developer,Viseven,Buenos Aires| Provincia de Buenos Aires| Argen...,Hace 1 día,134 solicitudes,https://ar.linkedin.com/jobs/view/front-end-de...,Viseven Group is an international IT company s...

In [10]:
df["published"] = df["published"].apply(convertir_a_dias)

In [11]:
# Función para convertir a días
def extract_num(texto):
    if not isinstance(texto, str):
        return 0
    # Extraer el número usando una expresión regular
    return int(re.search(r'\d+', texto).group())

In [12]:
df["applicants"] = df["applicants"].apply(extract_num)

In [13]:
df.sort_values(by=['applicants'], ascending=True)
print('0')
# df.sort_values(by='published', ascending=False)
# df.head(20)

0

In [ ]:

def fix_url(url):
    # Verificar si la URL contiene 'linkedin.com/jobs/view/'
    urlMatch = "linkedin.com/jobs/view/"
    # Expresión regular para extraer el ID
    match = re.search(r'/view/.*?-(\d+)(\?|$)', url)
    # Verificar si se encontró un match
    if match:
        id = match.group(1)  # Extraer el ID
        return f'{urlMatch}{id}'

In [15]:
df["url"] = df["url"].apply(fix_url)

In [ ]:
import urllib.parse

# query = 'web developer'
query = 'excel power bi python'
sub_search = '"remote" English -"Argentina" -"Brazil" -"Mexico" -"Colombia" -"Chile" -"Peru" -"Spanish" -"Portuguese"'
base_url = "https://www.google.com/search"
params = {
    "q": f"site:linkedin.com/jobs {query} {sub_search}"
}

search_url = base_url + "?" + urllib.parse.urlencode(params)
print(search_url)

https://www.google.com/search?q=site%3Alinkedin.com%2Fjobs+excel+power+bi+python+%22remote%22+English+-%22Argentina%22+-%22Brazil%22+-%22Mexico%22+-%22Colombia%22+-%22Chile%22+-%22Peru%22+-%22Spanish%22+-%22Portuguese%22

In [17]:
df.iloc[1]['url']

'linkedin.com/jobs/view/4145254091'